In [2]:
import pandas as pd
import requests
import json

In [5]:
running_shorts_df = pd.read_csv("resources/running_shorts.csv")
running_shorts_df

                Category: All categories
Month    running shorts: (United States)
2014-01                               19
2014-02                               22
2014-03                               29
2014-04                               31
...                                  ...
2023-08                               56
2023-09                               42
2023-10                               33
2023-11                               34
2023-12                               29

[121 rows x 1 columns]